* {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

/* Scroll Bar */
html::-webkit-scrollbar {
  width: 0.8vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #86a789;
  border-radius: 0.4vw;
}

html::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body {
  background-color: #f1f1f1;
}

/* Navigation Bar */
#header {
  position: fixed;
  top: 0vh;
  left: 0vh;
  width: 100%;
  box-shadow: none;
  z-index: 10;
}

nav {
  width: 100%;
  height: 8vh;
  background-color: #86a789;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 0.9rem;
}

#logo {
  height: 8vh;
}

#searchBar {
  display: flex;
  align-items: center;
}

#searchInput {
  font-size: 1rem;
  width: 40rem;
  height: 4vh;
  border-radius: 1vh 0vh 0vh 1vh;
  border: none;
  margin: 0px;
  padding: 0px 5px;
}

#submit {
  width: 4vh;
  height: 4vh;
  background-color: #f4e75e;
  border: none;
  border-radius: 0vh 1vh 1vh 0vh;
}

#submit i {
  font-size: 2.5vh;
  display: grid;
  place-items: center;
}

#submit:hover {
  cursor: pointer;
}

#addToCart i {
  font-size: 4vh;
}

#accounts {
  border-radius: 50%;
  border: solid 3px white;
  height: 4vh;
  width: 4vh;
  font-size: 2.5vh;
  display: grid;
  place-items: center;
}

/* Scroll Progress */
#scrollProgress {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 8vh;
  left: 0vh;
  height: 0.5vh;
  width: 100%;
}

#scrollProgress1 {
  background-color: #4f6f52;
}

#scrollProgress2 {
  background-color: #f1f1f1;
}

/* Hero */
#top {
  width: 100%;
  height: 8vh;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #86a789;
}

.carouselContent {
  width: 100%;
  height: 91.5vh;
  padding-top: 0.5vh;
}

.sliderButton {
  position: absolute;
  top: 44vh;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  border: none;
  background-color: #f5f5f5;
  opacity: 0.5;
}

#left {
  left: 6vh;
}

#right {
  right: 6vh;
}

#slide1 {
  height: 100%;
  box-sizing: border-box;
  padding: 6vh 5%;
  display: flex;
  flex-direction: row;
}

#slide1Left {
  color: #feffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#slide1Title {
  text-shadow: 0.3rem 0.3rem #4f6f52;
  font-size: 2.7rem;
  margin-bottom: 1.5rem;
}

#slide1Left p {
  font-size: 1.2rem;
}

#slide1Left button {
  font-size: 0.9rem;
  background-color: #4f6f52;
  color: #feffff;
  width: 6rem;
  height: 4vh;
  border-radius: 2vh;
  border: none;
  padding: 0.5vh 1rem;
  margin-top: 0.5rem;
  box-shadow: 0rem 0.3rem 0rem #17252a;
}

#slide1Left button:hover {
  cursor: pointer;
}

#slide1Left button:active {
  transform: translateY(0.15rem);
  box-shadow: 0rem 0.15rem 0rem #17252a;
}

#slide1Right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slideImgShadow {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  background-color: #4f6f52;
  z-index: 1;
}
#slideImg {
  z-index: 2;
  position: absolute;
  right: 10rem;
  top: 14vh;
}

#slideImg img {
  height: 60vh;
}

#slideImg:hover {
  animation-name: SlideImg;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

@keyframes SlideImg {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-5rem);
  }
}
/* Suggestions */
#suggestionsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestions {
  width: 90%;
  padding: 3vh 5% 8vh;
  height: 80vh;
  background-color: #f5f5f5;
}

.suggestionHeading {
  color: #4f6f52;
  font-size: 5vh;
  font-weight: 600;
  width: 100%;
  border-bottom: solid 2px #4f6f52;
  margin-bottom: 5vh;
}

.suggestionsScrollBar {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.suggestionCard {
  width: 20vw;
  height: 70vh;
  padding: 2vh;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0.3rem 0.3rem 0.3rem #86a789;
}

.suggestionImg {
  width: 100%;
  height: 40vh;
}

.suggestionCard h2 {
  margin-top: 0.5vh;
}

.suggestionCard p {
  font-size: 1.8vh;
}

.suggestionCardBottom {
  color: #4f6f52;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vh;
}

.bookPriceTitle {
  font-weight: 700;
  font-size: 3vh;
  height: 3vh;
}

.price {
  font-size: 2vh;
}

.suggestionCard button {
  color: #f1f1f1;
  font-weight: 700;
  background-color: #86a789;
  height: 5vh;
  width: 8vw;
  border: none;
  border-radius: 3vh;
  box-shadow: 0rem 0.3rem 0rem #4f6f52;
}

.suggestionCard button:hover {
  cursor: pointer;
}

.suggestionCard button:active {
  box-shadow: 0rem 0.15rem 0rem #4f6f52;
  transform: translateY(0.15rem);
}

/* Review Section */
#reviewSection {
  width: 90%;
  padding: 3vh 5%;
  background-color: #fff;
}

#reviewRead {
  height: 50vh;
}

#reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.review {
  width: 20rem;
  height: 15rem;
  background-color: #f5f5f5;
  border-radius: 3rem;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding: 1rem;
}

.reviewTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  border-bottom: 2px solid #17252a;
  box-sizing: border-box;
}

.reviewImg {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #4f6f52;
}

.reviewImg img {
  width: 100%;
}

.reviewTopContent {
  width: 60%;
}

.reviewName {
  font-weight: 700;
  font-size: 1.2rem;
}

.reviewBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
}

.reviewText {
  font-size: 0.8rem;
  text-align: center;
}

.reviewSymbol {
  height: 20%;
  font-size: 4rem;
  color: #4f6f52;
}
/* Bact to top */
@keyframes backToTop {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

#backToTop {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #f5f5f5;
  text-decoration: none;
  font-weight: 1000;
  font-size: 3rem;
  bottom: 0.95rem;
  right: 1.25rem;
  position: fixed;
  opacity: 0.7;
  color: #17252a;
}

#backToTop:hover {
  animation-name: backToTop;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Footer */
/* Footer */
footer {
  height: 300px;
  background-color: #17252a;
  color: #feffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 6vh 5%;
}

.footerSubTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0rem;
}

/* Contact form */
.contact {
  width: 40%;
  display: flex;
  flex-direction: column;
  color: #feffff;
}

.contactElement {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

footer label {
  font-size: 0.8rem;
}

.contactInput {
  width: 100%;
}

.contactButton {
  margin-top: 0.5rem;
  width: 6rem;
  height: 2rem;
  color: #feffff;
  font-weight: 500;
  background-color: #3aafa9;
  border-radius: 1rem;
  border: none;
  box-shadow: 0rem 0.3rem #2b7a78;
}

.contactButton:hover {
  cursor: pointer;
}

.contactButton:active {
  box-shadow: 0rem 0.15rem #2b7a78;
  transform: translateY(0.15rem);
}

/* Footer Right */
.footerRight {
  width: 30%;
}

/* Quick Links */

.linksList {
  margin: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
}

/* Social Media */
.socialMedia {
  margin-top: 1.5rem;
}

.socialMediaLink {
  color: #feffff;
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
}
